@using PhotographySite.Dto.Response;
@model MontagesResponse;

@{
    ViewData["Title"] = "Home Page";
}

<div class="draggable-main">
    <div class="row">
        @{
            int index = 0;
         
            foreach (var column in Model.MontageImagesColumns)
            {         
                <div id="image-list-container" class="column">
                    <ul class="image-list ">
                        @foreach (var photo in column)
                        {
                            <li>
                                <div class="home-image-container">
                                    <a data-lightbox="gallery" data-title='@photo.Title' href='@Model.AzureStoragePhotosContainerUrl@photo.Path'>
                                        <img class="home-image site-image" id="@photo.PhotoId" src="@Model.AzureStoragePhotosContainerUrl@photo.Path" title="@photo.Title" data-toggle="tooltip" data-html="true" />
                                    </a>

                                    @if (photo.IsFavourite)
                                    {
                                        <img class="home-image-favourite" src="~/images/icons8-orange-heart-48.png" class="like-icon">
                                    }                                    
                                </div>
                            </li>
                            index++;
                        }
                    </ul>
                </div>
            }       
         }
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div id="context-menu" class="context-menu" style="display: none">
        <ul class="menu">
            <li data-id="0"><a href="#">Add to Favourites</a></li>
        </ul>
    </div>   
}

@section Scripts
{  
    @if (User.Identity.IsAuthenticated) 
    {      
        <script type="module" src="~/js/min/site-home-logged-in.min.js" asp-append-version="true"></script>
    }
    else
    {
        <script type="module" src="~/js/min/site-home.min.js" asp-append-version="true"></script>
    } 
}