@{
    Layout = "_LayoutAccount";
}

@using PhotographySite.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
} 

<div class="bg-white border rounded-5">
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
        <div style="width: 26rem;">
            <div class="tab-content">     
                <div aria-labelledby="tab-register">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    { 
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            @Html.LabelFor(user => user.Email)
                            @Html.TextBoxFor(user=> user.Email, new { placeholder ="Enter Email", type="email", @class = "form-control" })
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            @Html.LabelFor(user=> user.Password)
                            @Html.EditorFor(user=> user.Password, new { htmlAttributes = new { placeholder="Enter Password", type="password", @class = "form-control" }})
                        </div>

                        <!-- Repeat Password input -->
                        <div class="form-outline mb-4">
                            @Html.LabelFor(user=> user.ConfirmPassword)
                            @Html.EditorFor(user=> user.ConfirmPassword, new { htmlAttributes = new { placeholder="Enter Confirm Password", type="password", @class = "form-control" }})
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                                   aria-describedby="registerCheckHelpText" />
                            <label class="form-check-label" for="registerCheck">
                                I have read and agree to the terms
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-3">Register</button>
                    }
                </div>
            </div> 

        </div>
    </section>
</div>


















@section Scripts
{

}