@{
    ViewData["Title"] = " - User Galleries";
}

@model PhotographySite.Models.Dto.UserGalleriesDto

<h5 class="page-header">@ViewData["Title"]</h5>

<div class="row">    
    <div class="col-xl-12 col-12 col-md-9 col-sm-12" id="gallery-work-area">  
        <div class="row search-row">
            <div class="card">                 
                <div class="card-header">
                    <div class="row gallery-header">
                        <div class="col-12">
                            <h5>
                                <span id="user-galley-name-title">Gallery (@Model.SelectedUserGallery.Name)</span>
                                <img data-gallery-name="@Model.SelectedUserGallery.Name" src="/images/icons8-pencil-24.png" class="edit-user-gallery-name" />
                                <img src="/images/icons8-delete-24.png" class="delete-user-gallery" />
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="card-body gallery-photos">                     
                    <ul id="galleryDestination" class="list">
                        @{
                            var galleryPhotoIndex = 1;
                        }

                        @foreach (var photo in Model.SelectUserGalleryPhotos)
                        {
                            <li><img data-photo-id='@photo.Id' data-photo-order='@galleryPhotoIndex' data-title='@photo.Title' class='draggable-img gallery-thumbnail' src='@Model.AzureStoragePhotosContainerUrl@photo.FileName' /></li>
                            galleryPhotoIndex++;
                        }
                    </ul>
                </div>
            </div>             
        </div>        
        
        <div class="row">
            <div class="col-12">
                <div id="gallery-alert" class="alert alert-warning" role="alert"></div>
            </div>
        </div>

        <div class="row search-row" id="gallery-search-photos-results">
            <div class="card">                
                <div class="card-header"> 
                    <div class="row gallery-header">
                        <div class="col-10">
                            <h5>Select Photos For Gallery</h5>
                        </div>
                        <div class="col-2">
                            <button class="gallery-search-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGalleryPhotoSearch" aria-expanded="false" aria-controls="collapseExample">
                                Search Favourites...
                            </button>                            
                        </div>
                    </div>
                </div>
                 
                <div class="card-body card-body-photos">    
                    @await Html.PartialAsync("_SearchPhotos", Model.LookupsDto)  
                    <div id="search-results-photos">
                        <ul id="gallerySource" class="list"></ul>        
                    </div>
                </div>
            </div>            
        </div>        
        <div class="pagination-holder black clearfix">
            <ul id="gallery-search-photos-results-pagination" class="pagination dark-theme simple-pagination text-center justify-content-center"></ul>
        </div>
    </div>        
</div>  

<input type="hidden" id="selected-user-gallery-id" value="@Model.SelectedUserGallery.Id" />

@await Html.PartialAsync("../Shared/PhotoModal")
@await Html.PartialAsync("_EditUserGalleryNameModal")
@await Html.PartialAsync("_DeleteUserGalleryModal")

@section Scripts
{
    <script type="module" src="@Url.Content("~/lib/simplePagination/simplePagination.js")"></script>
    <script type="module" src="@Url.Content("~/js/site/user-gallery.js")"></script>     
}