@model PhotographySite.Areas.Admin.Models.GalleryDto
@{
    ViewData["Title"] = "Gallery (" + @Model.Name + ")";
}
 
<div>
    <h3 class="page-title">Gallery (@Model.Name)</h3>     
</div>
 
<div id="gallery-images">

    @{
        var photos = Model.Photos.OrderBy(p => p.Order);

        if(photos != null)
        {
            foreach (var photo in photos)
            {
                <img class="lightboxed gallery-photo" rel="group1" src="@Model.AzureStoragePath@photo.FileName" data-caption="@photo.Title - @photo.Country" data-toggle="tooltip" data-html="true">
            }
        }        
    }    

</div>
 
@section Scripts
{
    <script type="module" src="@Url.Content("~/lib/lightboxed/lightboxed.js")"></script> 
    <script type="module" src="@Url.Content("~/js/site/gallery.js")"></script>
}