@model PhotographySite.Models.Dto.UserGalleryDto
@{
    if(Model.Name == null)
    {
        ViewData["Title"] = "Gallery Not Found";
    }
    else
    {
        ViewData["Title"] = " - User Gallery (" + @Model.Name + ")";
    }
}
 
<div>
    <h3 class="page-title">
        @ViewData["Title"]
    </h3> 
</div>
 
<div id="user-gallery-images">

    @{
        if (Model.Photos != null)
        {
            var photos = Model.Photos.OrderBy(p => p.Order);
        
            foreach (var photo in photos)
            {
                <div class="gallery-image-container">
                    <img id="@photo.PhotoId" class="lightboxed gallery-photo site-image" rel="group1" src="@Model.AzureStoragePath@photo.FileName" title="@photo.Title - @photo.Country" data-toggle="tooltip" data-html="true">
                    @if (photo.IsFavourite)
                    {
                        <img class="gallery-image-favourite" src="~/images/icons8-orange-heart-48.png" class="like-icon">
                    }
                </div>
            }
        }        
    }    

</div>

@if (User.Identity.IsAuthenticated)
{
    <div id="contextMenu" class="context-menu" style="display: none">
        <ul class="menu">
            <li data-id="0"><a href="#">Add to Favourites</a></li>
        </ul>
    </div> 
}
 
@section Scripts
{
    <script type="module" src="@Url.Content("~/lib/lightboxed/lightboxed.js")"></script>
    <script type="module" src="@Url.Content("~/js/site/favourites.js")"></script>
    <script type="module" src="@Url.Content("~/js/site/gallery.js")"></script>
}