@model PhotographySite.Dto.Response.LookupsResponse

<div class="collapse" id="collapse-gallery-photo-search">
    <div class="card card-body">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="input-group input-group-sm search-control-input">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
                    </div>
                    <input id="gallery-search-title" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>

            <div class="col-lg-2 col-md-8 col-sm-12">
                <div class="input-group input-group-sm">
                    <select class="form-control search-control-select" id="search-country-select">
                        @foreach (var country in Model.Countries)
                        {
                            <option value="@country.Id">@country.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-8 col-sm-12">
                <div class="input-group input-group-sm">
                    <select class="form-control search-control-select" id="search-category-select">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-8 col-sm-12">
                <div class="input-group input-group-sm mb-3">
                    <select class="form-control search-control-select" id="search-palette-select">
                        @foreach (var palette in Model.Palettes)
                        {
                            <option value="@palette.Id">@palette.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row clearfix button-row">
                <div class="col">
                    <button type="button" class="btn btn-primary gallery-search-photos-search-button float-right">Search</button>
                </div>
            </div>

        </div>
    </div>
</div>