@{
    ViewData["Title"] = "Home Page";
} 

<div class="text-center">
    <h1 class="display-4">Admin</h1>     
</div>

<div class="card-body gallery-photos">
    <div class="text-center">
        <h3 class="display-7">Latest Photos</h3>
    </div>
    <ul id="latest-photos" class="list"> 
        @foreach (var photo in Model.SelectGalleryPhotos)
        {
            <li>
                <a data-lightbox="gallery" data-title='@photo.Title' href='@Model.AzureStoragePhotosContainerUrl@photo.FileName'>
                    <img data-photo-id='@photo.Id' data-title='@photo.Title' class='lightboxed latest-photo-thumbnail' rel='group1' src='@Model.AzureStoragePhotosContainerUrl@photo.FileName' />
                </a>
            </li>
        }
    </ul>
</div>  
 
@section Scripts
{   
    <script type="module" src="~/js/min/admin-home.min.js" asp-append-version="true"></script>
}