@{
    ViewData["Title"] = " - Favourites";
}

@model PhotographySite.Areas.Site.Dto.Response.FavouritesResponse

<div>
    <h3 class="page-title">Favourites</h3>
</div>

<div id="favourites-images">

    @{
        if(Model.Favourites != null)
        { 
            foreach (var photo in Model.Favourites)
            {
                <img id="@photo.PhotoId" class="lightboxed gallery-photo" rel="group1" src="@Model.AzureStoragePhotosContainerUrl@photo.FileName" data-caption="@photo.Title - @photo.Country" data-toggle="tooltip" data-html="true">
            }
        }        
    }

</div>

@if (User.Identity.IsAuthenticated)
{
    <div id="context-menu" class="context-menu" style="display: none">
        <ul class="menu">
            <li data-id="0"><a href="#">Delete from favourites</a></li>
        </ul>
    </div>

    @await Html.PartialAsync("../Shared/_ModalMessage") 
}
 
@section Scripts
{
    <script type="module" src="@Url.Content("~/js/min/site-favourites-logged-in.min.js")"></script>
}